# Archivos y carpetas generados por Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
# Archivos de Android
/android/app/debug
/android/app/profile
/android/app/release
# Archivos de iOS
/ios/Flutter/.last_build_id
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
# Archivos de configuración local
*.lock
*.log
.DS_Store
