# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/doc/api/

# Android related
/android/app/debug
/android/app/profile
/android/app/release
/android/app/google-services.json

# iOS related
/ios/Pods/
/ios/Podfile.lock
/ios/Runner.xcworkspace/
/ios/Runner/GoogleService-Info.plist

# Firebase & API Keys
/lib/firebase_options.dart
.env

# IDE related
.vscode/
.idea/
*.iml
*.ipr
*.iws

# System files
.DS_Store
*.log
